<div id="wrapper">
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
				<a href="#" >
					<h4>Menu</h4>
				</a>
			</li>
			<li style="font-size: 20px;">
				<%= link_to ' Empresa', paginas_empresa_path,class: "glyphicon glyphicon-home" %>
			</li>
			<li style="font-size: 20px;">
				<%= link_to ' Localização', paginas_localizacao_path , class: "glyphicon glyphicon-map-marker"%>
			</li>
			<li style="font-size: 20px;">
				<%= link_to ' Contato', paginas_contato_path , class: "glyphicon glyphicon-phone-alt"%>
			</li>
			<li style="font-size: 20px;">
				<%= link_to ' Produtos', produtos_path , class: "glyphicon glyphicon-book"%>
			</li>
		</ul>
	</div>
</div>